/* *{
    padding: 0;
    margin: 0;
} */
 /* #copy-right{ 
    max-width: 1920px;
    width: 100%;
   text-align: center;
   clear: both;
} */
   
   
/* #copy-right-container{

width: 100%;
text-align: center;

   } */

   /* #copy-right-sentence{
    font-family: Dubai;
    font-weight: 500; 
    font-size: 18px; 
    text-align: right; 
    color: #3f3f3f; 
   } */